@import url('https://cdn-uicons.flaticon.com/4.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/4.0.0/uicons-regular-straight/css/uicons-regular-straight.css');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&family=Anton&display=swap');

@import "tailwindcss";

@font-face {
  font-family: 'Chopsic';
  src: url('/fonts/Chopsic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #2b2b2b;
  --surface: #413f4f;
  --surface-dark: #1f1f1f;
  --card-highlight: #00a97f;
  --accent: #00a97f;
  --accent-hover: #008a68;
  --text-primary: #f2f2f2;
  --text-inverse: #2b2b2b;
  --border: #5a5a5a;
  --muted: #c5c5c5;
}